# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI
instance/
*.db

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test and coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
test-results/

# Pipenv
Pipfile.lock

# Mypy
.mypy_cache/

# Other
*.sqlite3